header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 200px;
    align-items: center;
}

.name {
    color: rgb(159, 133, 68);
}

h1 {
    text-transform: uppercase;
    text-shadow: 0 0 5px #0073b1;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: stretch;
}

.content-section {
    width: 25%;
}

.main-photo {
    border-radius: 25px;
}

.image {
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 25px;
    width: 150px;
    height: 200px;
}

body {
    font-family: kablam;
    font-display: bold;
    margin: 0;
    padding: 0;
    background-color: rgb(90, 3, 3);
}

.resume {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(159, 133, 68)
}


.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*.resume {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #8a5e5e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(159, 133, 68);
}
*/
.active {
    display: block;
}

footer {
    text-align: center;
    padding: 1px;
    background-color: rgb(159, 133, 68);
    color: rgb(90, 3, 3);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bold;
}

.footer-image {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    transition: transform 0.3s;
}

.footer-image:hover {
    transform: scale(1.1);
}

.footer-centered {
    background-color: rgb(159, 133, 68);
    padding: 1px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border-top: 1px solid #ccc;
}

.footer-centered img {
    vertical-align: middle;
}

.footer-centered a {
    color: #0073b1;
    /* LinkedIn blue color */
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

.footer-centered a:hover {
    text-decoration: underline;
}

footer img {
    vertical-align: center;
}

footer a {
    color: #043c5b;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

footer a:hover {
    text-decoration: underline;
}

.flexybox {
    display: flex;
    justify-content: center;
}

.card-container {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.card-container:hover .card {
    transform: rotateY(180deg);
    box-shadow: 10px 10px 5px rgb(159, 133, 68);
    width: 100%;
}

.card-container .front {
    width: 100%;
    text-align: center;
    max-height: 0%;
}

.card-container .front h3 {
    width: 100%;
}

.card-container .back p,
h3 {
    color: rgb(159, 133, 68);
}

li {
    color: rgb(159, 133, 68);
}

p {
    color: rgb(159, 133, 68);
}

.front {
    width: 100%;
}

.back {
    background: #efe;
    color: rgb(90, 3, 3)
}

.card {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front {
    width: 100%;
}

.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
    width: 100%;
}

.back {
    transform: rotateY(180deg);
    width: 300px;
    text-align: center;
    max-height: 0%
}

#header {
    width: 100%;
    height: 1000px;
    background-image: url(images/wonder-woman.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.column {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* div {
    box-shadow: 10px 10px 5px #0073b1;
} */


@font-face {
    font-family: ka-blam;
    src: url('https://www.dafont.com/ka-blam.font');
}

body {
    font-family: ka-blam;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #4c041a);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work image {
    width: 100%;
    border-radius: 10px;
    display: block;
    max-width: 100%;
    max-height: 100%;
    transform: 0.5s;

}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 500px;
}