html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    /*font-family: Arial, sans-serif;*/
    display: flex;
    flex-direction: column;
    /*background-color: #0e4194;*/
    align-items: center;
    margin: 0;
    /*padding: 50px;*/
}

.content-container {
    /*background-color: #0e4194;*/
    background-color: #800000;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    /*background-color: #0e4194;*/
    color: #ffecbc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: cursive;
    width: 100%;
    padding: 20px;
}

footer {
    /*background-color: #0e4194;*/
    background-color: #2b5495;
    /*background-color: #800000;*/
    font-size: 15px;
    font-weight: bold;
    padding: 25px;
    color: #ffecbc;
    text-align: center;
    width: 100%;
}

a {
    color: #ffecbc;
}

.intro {
    max-width: 500px;
    text-align: left;
}

.centered {
    text-align: center;
}

main {
    width: 100%;
    flex: 1;
}

/*.flip-container-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}*/

.flip-container {
    perspective: 1000px;
    margin: 20px;
    width: 30%;
    height: 400px;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    perspective: 1000px;
}

/*.flipper section {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}*/

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.back {
    transform: rotateY(180deg);
    background-color: #2b5495;
    color: #ffecbc; 
    overflow-y: auto;
}

/*.flipper:hover section {
    transform: rotate(180deg);
}*/

.front-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.front {
    background-color: #fff;
    /*padding: 0;*/
}

.link {
    color: #ffecbc;
}

.name {
    font-size: 3em;
    color: #ffecbc;
    text-shadow: 2px 12px 8px #800000;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    margin-top: 10px;
    text-align: center;
    font-weight: lighter;
    font-family: cursive;
    /*background: rgba(127, 46, 46, 0.5);*/
    background-color: #000;
    border-radius: 10px;
    /*color: #1eff00;*/
    color: #ffecbc;
}

.back h2, .back h3, .back p {
    margin: 10px 0;
    width: 100%;
    font-family: cursive;
}

.back h2 {
    font-size: 1.5em;
}

.back h3 {
    font-size: 1.2em;
}

.back p {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
    margin: 5px 0;
    color: #ffecbc; 
}

/*.back2 p {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
    margin: 5px 0;
    color: #ffecbc; 
}*/

.back, li {
    font-family: cursive;
    font-size: 1.2em;
}

.greeting {
    color: #ffecbc;
    font-size: 2em;
    font-weight: bold;
}

.reference {
    margin-bottom: 10px; /* Adds space between each reference */
}

.reference p {
    margin: 0; /* Remove default margin */
    color: #300909;
    font-weight: bolder;
    font-size: 1.4em;
    text-shadow: 2px 2px 2px #1C6EA4;
}

.reference a {
    /*color: inherit;*/ /* Make email links inherit the text color */
    text-decoration: none; /* Remove underline from links */
}

.reference a:hover {
    text-decoration: underline; /* Add underline on hover */
}